/* styles.css */

/* kanit-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/kanit-v15-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* kanit-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/kanit-v15-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --primary-color: #3b4283;
    --visited-link-color: #2547c1;
    --secondary-color: #5b8900;
    --text-color: #070808;
    --text-color-light: white;
    --page-background-color: #f4f6f5;
    --background-color: #535353;
    --background-table-grid: #e2e0e0;
    --font-weight-normal: 300;
    --font-weight-bold: 500;
    --margin-for-wide-screens: 100px;
    --margin-for-intermediate-screens: 60px;
    --large-margin: 40px;
    --medium-margin: 20px;
    --small-margin: 10px;
    --font-size-regular: 16px;
    --font-size-h1: 30px;
    --font-size-h2: 22px;
    --font-size-h3: 18px;
    --font-size-label: 14px;
}


/*
*********************************************
*
* General styles
*
*********************************************
*/

body {
    margin: 0;
    background-color: var(--page-background-color);
    font-family: 'Kanit', sans-serif;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-regular);
    line-height: 1.6;
    color: var(--text-color);
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-bold);
    line-height: 1.8;
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-bold);
}

a {
    color: var(--primary-color);
}

a:visited {
    /* visited link */
    color: var(--visited-link-color);
}

a:hover,
a:focus {
    text-decoration: none;
    border-bottom: 2px solid var(--primary-color);
}

a:active {
    /* selected link */
    color: var(--secondary-color);
}

button {
    /* overwrites browser defaults and resets the border */
    border: none;

    /* takes the font from the outer container */
    font-family: inherit;

    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: var(--primary-color);
    color: var(--text-color-light);
    text-decoration: none;

    /* adds spacing to the button  */
    padding: var(--small-margin) var(--medium-margin);
    border-radius: 3px;

    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);

    /* defining transition for the submit button */
    transition: opacity 0.8s;
}

button:hover,
button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;

    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

/*
*********************************************
*
* Styles for header and navigation
*
*********************************************
*/

header {
    position: fixed;
    width: 100%;
    background: var(--text-color);
    color: var(--text-color-light);
    font-weight: var(--font-weight-normal);
    z-index: 1000;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    position: relative;
    box-sizing: border-box;
}

.nav-links {
    list-style: none;
    display: flex;
    transition: max-height 0.8s ease-out;
    overflow: hidden;
    max-height: none;
    background-color: var(--text-color);
    margin-top: 0;
    margin-bottom: 0;
}

.nav-links li {
    margin: 0;
    padding: 5px 20px;
    transition-duration: 0.8s;
}

.nav-links li:hover {
    background: var(--primary-color);

}

.nav-links li:hover a {
    text-decoration: none;
    border-bottom: none;
}

.nav-links a {
    color: var(--text-color-light);
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h3);
}

.nav-links a.active {
    text-decoration: underline;
}

.logo {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
}

/*
*********************************************
*
* Styles for hamburger menu
*
*********************************************
*/

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1010;
}

.nav-links.active {
    display: block;
    margin: 0;
    padding: 0;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px;
    transition: all 0.3s ease;
}

.hamburger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
}

.hamburger.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/*
*********************************************
*
* Styles for main content
*
*********************************************
*/

section {
    padding: 80px 20px 30px 20px;
    background: var(--page-background-color);
}

.content-container {
    margin: 0 auto;
}

#home {
    background-color: var(--text-color);
    position: relative;
    width: 100%;
    height: auto;
    /* Height determined by content and background image */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    /* Contain to keep proportions */
    background-position: left;
    background-repeat: no-repeat;
    /* Prevent image tiling */
    color: var(--text-color-light);
    text-align: center;
}

#home .content-container {
    position: relative;
    z-index: 2;
}

#home .social-media {
    position: absolute;
    bottom: 20px;
    right: 20px;
    transform: translateX(-50%);
    z-index: 2;
}

#about {
    text-align: center;
    margin-bottom: 80px;
}

#skills {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    padding: 0px;
}

.mySkills {
    flex-grow: 1;
    padding: 18px;
    background-color: var(--background-color);
    color: var(--text-color-light);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h2);
    text-align: center;
    justify-content: center;
}

#contact {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    text-align: center;
    padding: 90px 20px 90px 20px;
}

.social-link {
    display: inline-block;
    /* Adjust these values if necessary */
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    background-color: transparent;
    transition: background-color 0.8s ease;
}

.social-link:hover {
    background-color: var(--primary-color);
    border: 0px;
}

#contact .social-link:hover {
    background-color: var(--text-color);
    border: 0px;
}

.github {
    width: 34px;
    height: 34px;
    margin: 15px;
}

.linkedin {
    margin: 15px;
}

.checkOutWork {
    margin-bottom: 4em;
}

#impressum {
    text-align: center;
    padding: 40px 20px 250px 20px;
}

/*
***************************
*
* styles for my work section
*
*****************************
*/

#work {
    text-align: center;
    margin-bottom: 80px;
}


.github-project {
    width: 34px;
    height: 34px;
    margin: 0;
    vertical-align: bottom;
}

.project-link {
    display: inline-block;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    background-color: transparent;
    transition: background-color 0.8s ease;
    margin-bottom: 0;
    vertical-align: bottom;
    margin-right: 20px;
}

.project-link:hover {
    background-color: var(--text-color-light);
    border-width: 0;
}

/* start grid fallback */

.grid__item {
    display: inline-block;
    width: 25%;
}

.grid-top {
    width: 100%;
}

/* end grid fallback */

@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: var(--medium-margin);
        margin: 0;
    }

    .grid__item {
        position: relative;
        background-color: var(--background-table-grid);
        padding: 0 0px 50px 0px;
        width: auto;
        min-height: auto;
        margin: 0;
        box-shadow: 2px 2px 10px -3px rgba(52, 58, 64, 0.99);

    }
}

.image-container {
    position: relative;
    height: 200px;
    /* Set the desired fixed height */
    overflow: hidden;
    /* Hide the overflow to crop the image */
}

.grid__content {
    margin: 0 10px;
}


.opModalBtn {
    font-size: 16px;
    padding: 6px 10px;
    margin-bottom: 0;
    /* Remove any default margin */
    display: inline-block;
    vertical-align: bottom;
    /* Align to the bottom */
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1001;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

}

.modal-content {
    background-color: white;
    margin: 15px auto;
    /* 15px from the top and centered */
    padding: 20px;
    text-align: left;
    border: 1px solid #888;
    width: 90%;
    /* Could be more or less, depending on screen size */
    max-width: 1024px;
    height: 100vh;
    overflow: auto;
    overflow-y: scroll;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.button-wrapper {
    width: 100%;
    text-align: right;
    /* Align the button to the right */
    position: absolute;
    bottom: 15px;
    right: 0;
    padding-right: 15px;
}

.modalClose {
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.bottomClose {
    float: left;
    font-size: 16px;
}

.appScreens {
    width: 48%;
}


/*
*********************************************
*
* breakpoints and classes for screen widths
*
**********************************************
*/

@media (min-width: 800px) {
    .content-container {
        margin: 0 8em;
    }
}

/* Background image for home section */
@media (min-width: 1100px) {
    .content-container {
        margin: 0 20em;
    }

    #home {
        background-image: url('../img/largescreen-links.jpg');
        padding: 200px 30px;
    }

    #home .content-container {
        margin-right: 40px;
        width: 400px;
        text-align: right;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 20px;
        padding: 20px;
    }

    #home .introtext {
        font-size: var(--font-size-h2);
    }

    #home h1 {
        font-size: 50px;
    }
}

@media (min-width: 525px) and (max-width: 1100px) {

    #home {
        background-image: url('../img/mediumscreen-links.jpg');
        padding: 150px 30px;
    }

    #home .content-container {
        margin-right: 40px;
        width: 350px;
        text-align: right;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 20px;
        padding: 20px;
    }

    #home .introtext {
        font-size: var(--font-size-h3);
    }
}

@media (max-width: 524px) {
    #home {
        background-image: url('../img/smallscreen.jpg');
        padding: 150px 10px 10px 10px;
        flex-direction: column;
    }

    #home .content-container {
        margin-top: 100px;
        width: 350px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 20px;
        padding: 10px;
    }

    #home .social-media {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    #home .checkOutWork {
        margin-bottom: 80px;
    }

}

@media screen and (max-width: 1200px) {

    /* start grid fallback */
    .grid__item {
        display: inline-block;
        width: 30%;
    }

    /* end grid fallback */

    @supports (display: grid) {
        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .grid__item {
            position: relative;
            background-color: var(--background-table-grid);
            padding: 0 0px 50px 0px;
            width: auto;
            min-height: auto;
            margin: 0;
        }
    }
}

@media screen and (max-width: 992px) {

    /* start grid fallback */
    .grid__item {
        display: inline-block;
        width: 50%;
    }

    /* end grid fallback */

    @supports (display: grid) {
        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .grid__item {
            position: relative;
            background-color: var(--background-table-grid);
            padding: 0 0px 50px 0px;
            width: auto;
            min-height: auto;
            margin: 0;
        }
    }
}

@media (max-width: 760px) {

    .nav-links {
        display: none;
        flex-direction: column;
        max-height: 0;
        width: 100%;
        position: absolute;
        top: 100%;
        /* Positioning it right below the header */
        left: 0;
        /* Align to the left of the nav container */
        box-sizing: border-box;
        display: block;
    }

    .nav-links.active {
        display: flex;
        max-height: 300px;
        /* Adjust based on number of links */
        background-color: #444;
    }

    .nav-links li {
        text-align: right;
        padding: 10px 20px;
        width: 100%;
    }

    .hamburger {
        display: flex;
    }

    /* start grid fallback */
    .grid__item {
        display: inline-block;
        width: 100%;
        margin: 0;
    }

    /* end grid fallback */

    @supports (display: grid) {
        .grid {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}